/* common */
*, ::before, ::after{margin:0;padding:0;font-family:'Pretendard',sans-serif;word-break:keep-all;box-sizing:border-box;}
a{display:inline-block;text-decoration:none;vertical-align: top;}
body{min-width:360px;overflow-x: hidden;touch-action: none;touch-action: pan-y;}
ul, ol{list-style:none;}
img{display:inline-block;max-width:100%;vertical-align:top;}
em{font-style: normal;}
.inner{max-width: 1326px;margin: 0 auto;}
.mob{display: none;}

.wrap{background: #1F1D1D;transition: background .5s;}
.wrap[data-mode="white"]{background: #F1F8FC;}


/* header */
header{position: fixed;top: 0;left: 0;z-index: 900;width: 100%;background: rgba(36, 36, 36, 0.8);backdrop-filter: blur(10px);}
header .inner{position: relative;display: flex;justify-content: space-between;max-width: 1600px;}
header h1>a{font-family: 'Raleway';font-weight: 700;font-size: 24px;line-height: 80px;letter-spacing: -0.01em;color: #fff;}
header nav{display: flex;column-gap: 30px;align-items: center;}
header nav ul{display: flex;column-gap: 30px;}
header li>a{font-weight: 500;font-size: 17px;line-height: 20px;letter-spacing: -0.05em;line-height: 80px;color: #E8F0EF;}
header nav>a{background: #00B4BF;padding:0 26px 0 27px;font-weight: 700;line-height: 44px;color: #fff;border-radius: 32px 32px 0px 32px;}
header[data-mode="white"]{background: rgba(255, 255, 255, 0.2);backdrop-filter: blur(10px);}
header[data-mode="white"] h1>a{color: #0BBD96;}
header[data-mode="white"] li>a{color: #339C89;}


/* visual */
.visual{position: relative;z-index: 100;height: 100vh;}
.visual .inner{position: absolute;top: 50%;left: 50%;display: flex;flex-direction: column;align-items: end;width:100%;max-width: 1600px;padding-left: 136px;transform: translate(-50%, -50%);}
.visual h2{width:100%;color: transparent;}
.visual h2>span{display: flex;column-gap: 13px;font-family: 'Righteous';font-weight: 400;font-size: 80px;line-height: 50px;-webkit-text-stroke: 1px #fff;transition: -webkit-text-stroke .5s;}
.visual h2>strong{display: block;font-family: 'Poppins';font-weight: 800;font-size: 242px;line-height: 242px;-webkit-text-stroke: 1.5px #fff;transition: -webkit-text-stroke .5s;}
.visual h2>span.font, .visual h2>strong.font{-webkit-text-stroke: unset}
.visual .icon_q{width: 55px;height: 55px;border: 1px solid #fff;border-radius: 50% 50% 0 50%;}
.visual .txt{margin-top: 43px;}
.visual .txt{display: flex;flex-wrap: wrap;flex-direction: column;row-gap: 10px;font-size: 24px;font-weight: 500;line-height: 32px;}
.visual .txt>p{font-weight: 700;font-size: 80px;line-height: 100px;color: #42EDC7;}
.visual .info{display: flex;column-gap: 12px;color: #CFF2EC;}
.visual .info>strong{font-weight: 400;color: #fff;}
.visual .motion_top{position: absolute;top: -365px;left: -326px;z-index: -100;width: 811px;height: 811px;border: 1px solid #77DAF0;border-radius: 50%;}
.visual .motion_center{position: absolute;top: 0;left: 50%;z-index: -100;transform: translateX(-50%);background: #2D3030;width: 915px;height: 915px;border-radius: 50% 50% 0 50%;}


/* overview */
.overview{margin: 355px 0 67px;}
.overview h3{display: flex;flex-direction: column;row-gap: 17px;width: 100%;font-weight: 700;font-size: 40px;line-height: 52px;color: #F3F3F3;transition: color .5s;}
.overview h3>img{width: 62px;}
.overview .txt{position:relative;}
.overview .txt p{padding-left: 544px;font-weight: 600;font-size: 28px;line-height: 38px;transition: color .5s, opacity .5s;}
.overview .txt p+p{position:absolute;top: 0;opacity: 0;}
.overview .txt p>span{color: #0BBD96;}
.overview[data-mode="white"] h3{color: #272626;}
.overview[data-mode="white"] .txt p{opacity: 0;}
.overview[data-mode="white"] .txt p+p{opacity: 1;}

/* program */
.program{padding: 120px 0;}
.program h3{font-weight: 700;font-size: 60px;line-height: 64px;letter-spacing: -0.02em;color: #222;}
.program h3>span{display: block;margin-bottom: 8px;font-weight: 600;font-size: 22px;line-height: 30px;letter-spacing: -0.02em;color: #20BCA9;}
.program h4{margin-top: 8px;font-weight: 700;font-size: 24px;line-height: 32px;color: #282826;}
.program p{margin-top: 8px;font-weight: 400;font-size: 20px;line-height: 24px;letter-spacing: -0.02em;color: rgba(122, 129, 136, 0.99);}
.program ol{display: flex;flex-wrap: wrap;gap: 33px 44px;margin-top: 48px;}
.program li{position: relative;background: #0BE1C7;width: 30%;max-width: 376px;height: 432px;padding: 40px;border-radius: 8px;overflow: hidden;}
.program li:nth-of-type(1){background:url(images/bg_speaker_01.png) no-repeat center / cover;}
.program li:nth-of-type(2){background:url(images/bg_speaker_02.png) no-repeat center / cover;}
.program li:nth-of-type(3){background:url(images/bg_speaker_03.png) no-repeat center / cover;}
.program li:nth-of-type(4){background:url(images/bg_speaker_04.png) no-repeat center / cover;}
.program li:nth-of-type(5){background:url(images/bg_speaker_05.png) no-repeat center / cover;}
.program li:nth-of-type(6){background:url(images/bg_speaker_06.png) no-repeat center / cover;}
.program li>p{margin-top: 10px;font-weight: 500;font-size: 16px;line-height: 24px;color: #414B54;}
.program .time{display: flex;column-gap: 8px;align-items: center;line-height: 26px;}
.program .time>span:first-of-type{background: #fff;padding: 0 12px;font-weight: 600;font-size: 14px;color: #058FA2;border-radius: 4px;}
.program .time>span:first-of-type.point{background: #393741;color: #fff;}
.program .time>span+span{font-weight: 500;font-size: 15px;color: #445051;}
.program .speaker{position: absolute;bottom: 0;left: 0;width: 100%;}
.program .speaker>img{height: 70px;margin:0 0 24px 40px;}
.program .speaker .info{background: rgba(147, 234, 221, 0.6);backdrop-filter: blur(3px);display: flex;flex-direction: column;padding: 24px 40px;}
.program li:nth-of-type(n+3):nth-of-type(-n+6) .speaker .info{background: rgba(147, 218, 234, 0.6);}
.program .speaker .info>strong{font-weight: 600;font-size: 16px;line-height: 24px;}
.program .speaker .info>span{font-weight: 400;font-size: 14px;line-height: 24px;color: #525C50;}

/* past_event */
.past_event{padding: 40px 0 45px;}
.past_event h3{margin-bottom: 64px;font-weight: 700;font-size: 60px;line-height: 75px;letter-spacing: -0.02em;color: #2D3F40;text-align: center;}
.past_event h3>span{display: block;margin-bottom: 12px;font-weight: 600;font-size: 22px;line-height: 24px;letter-spacing: -0.02em;}
/* @keyframes imgScroll { 
    0% { transform:translateX(0) } 
    50%{ transform:translateX(-100%) }
    50.01%{ transform:translateX(100%) }
    100%{ transform:translateX(0) }
}
@keyframes imgScroll2 { 
    0% { transform:translateX(0) }
    100%{ transform:translateX(-200%) }
} */
.past_event .img_scroll{position: relative;display: flex;flex-wrap: nowrap;column-gap: 48px;}
.past_event .img_scroll .img{display: flex;flex-wrap: nowrap;column-gap: 48px;width: 2704px;animation: 33s linear 0s infinite normal forwards running imgScroll;}
.past_event .img_scroll .img+.img{animation: 33s linear 0s infinite normal forwards running imgScroll2;}
.past_event .img_scroll .img img{width: 640px;height: 360px;object-fit: cover;}
.past_event .img_scroll+.img_scroll{margin-top: 48px;}

/* event */
.event{background-color: #fff;padding: 160px 0 164px;}
.event .inner{max-width: 1188px;}
.event h3{font-weight: 700;font-size: 48px;line-height: 56px;color: #363939;letter-spacing: -0.02em;}
.event h3>span{display: block;margin-bottom: 6px;font-weight: 600;font-size: 22px;line-height: 24px;}
.event li{position: relative;z-index: 100;display: flex;justify-content: center;align-items: center;}
.event li+li{margin-top: 128px;}
.event li::before{position: absolute;top: 0;right: 0;z-index: -100;content: '';width: 100%;height: 100%;background: #E5F1EF;border-radius: 256px 256px 0px 256px;}
.event li:nth-of-type(2n){flex-direction: row-reverse;column-gap: 64px;}
.event li>img{width:50%; max-width: 515px;}
.event .txt>p{margin: 16px 0 40px;font-weight: 400;font-size: 18px;line-height: 26px;color: #3D4646;}
.event .txt>a{background: #00B4BF;padding: 0 55px;font-weight: 600;font-size: 18px;line-height: 64px;color: #fff;border-radius: 32px 32px 0px 32px;}

/* register */
.register{background: #05CAB3;padding: 120px 0;}
.register .inner{max-width: 998px;}
.register h3{font-weight: 600;font-size: 56px;line-height: 66px;letter-spacing: -0.02em;color: #fff;}
.register h3>strong{display:block;font-weight: 800;}
.register .info{display: flex;column-gap: 16px;margin: 12px 0 56px;}
.register .info>span{font-weight: 600;font-size: 18px;line-height: 24px;letter-spacing: -0.03em;color: #EBEEF4;}
.register .info>span+span{position: relative;}
.register .info>span+span::before{position: absolute;top: 50%;left: -8.5px;content: '';background-color: #E7EBF4;width: 1px;height: 8px;transform: translateY(-50%);}

.register .hbspt-form form{display:flex;flex-wrap:wrap;column-gap:32px;align-items: flex-start;}
.register .hbspt-form form>div{position:relative;width:100%;}
.register .hbspt-form form>div:nth-child(-n+6){display:inline-flex;flex-wrap:wrap;column-gap: 8px;width:calc(50% - 16px);margin-bottom:26px;}
.register .hbspt-form form>div:nth-child(-n+6) .input{width:100%;order: 3;}
.register .hbspt-form form .inputs-list{margin-bottom:0;}
.register .hbspt-form form .hs_jobda_privacy_policy_agreement, .register .hbspt-form form .hs_jobda_marketing_agreement{position:relative;display:flex;align-items:center;column-gap:16px;width:auto;}
.register .hbspt-form form .hs_jobda_privacy_policy_agreement .hs-error-msgs, .register .hbspt-form form .hs_jobda_marketing_agreement .hs-error-msgs{position:absolute;top:0;left:0;}
.register .hbspt-form form .hs-form-booleancheckbox-display{position:relative;display:block;line-height:32px;margin-top: 22px;}
.register .hbspt-form form .hs-form-booleancheckbox-display input[type="checkbox"]{position:absolute;width:1px;height:1px;opacity:0;}
.register .hbspt-form form .hs-form-booleancheckbox-display>span{position:relative;display:block;padding-left:24px;color:#fff;font-weight: 500;font-size: 14px;}
.register .hbspt-form form .hs-form-booleancheckbox-display>span::before{position:absolute;top:50%;left:0;content:'';transform:translateY(-50%);width:20px;height:20px;background-color:#fff;border: 1px solid #8490A4;border-radius: 4px;box-sizing:border-box;cursor:pointer;}
.register .hbspt-form form .hs-form-booleancheckbox-display>input:checked + span::before{background: #253639 url(https://recruit.jobda.im/hubfs/230306%20landing%20classUP/icon_check.svg) no-repeat center / 16px;border: 1px solid #EFF2F8;}
.register .hbspt-form form .hs-form-booleancheckbox-display>span>a{display:inline-block;color:#fff;text-decoration:underline;text-underline-position:under;text-decoration-color:#fff;}
.register .hbspt-form form .hs_jobda_marketing_agreement{padding-left:4px;}
.register .hbspt-form form input[type="text"], .register .hbspt-form form input[type="email"], .register .hbspt-form form select{background: #F8FCFC;width:100%;height:64px;padding:0 24px;border: 2px solid #F8FCFC;border-radius: 10px;font-weight: 600;font-size: 18px;color: #595959;-webkit-appearance : none;-moz-appearance:none;appearance:none;outline:none;}
.register .hbspt-form form input[type="text"]:focus, .register .hbspt-form form input[type="email"]:focus, .register .hbspt-form form select:focus{border:2px solid #0D7F98;}
.register .hbspt-form form input[type="text"].error, .register .hbspt-form form input[type="email"].error, .register .hbspt-form form select.error{border:1px solid #F13016;padding:0 25px;}
.register .hbspt-form form input[type="text"]::placeholder, .register .hbspt-form form input[type="email"]::placeholder, .register .hbspt-form select.is-placeholder{font-weight:500;color: #B5BFB8;}
.register .hbspt-form form .hs-fieldtype-text label, .register .hbspt-form form .hs-fieldtype-phonenumber label, .register .hbspt-form form .hs-fieldtype-select label{display:block;margin-bottom:6px;font-weight: 600;font-size: 14px;line-height: 22px;color: #fff;}
.register .hbspt-form form .hs-form-required{margin-left:2px;color: #0085FF;}
.register .hbspt-form form .actions input{background: #253639;width:100%;height:62px;margin-top:24px;font-weight: 600;font-size: 18px;color: #fff;border-radius: 8px;border:0;cursor:pointer;}
.register .hbspt-form form .hs-error-msgs{font-weight: 500;font-size: 14px;line-height: 22px;color: #E9431F;}
.register .hbspt-form form .hs-error-msgs label{color: #000;}
.register .hbspt-form form .hs-error-msgs label.hs-error-msg{margin:0;font-weight: 500;color: #EC466E;}
.register .hbspt-form form .hs_error_rollup{display:none;}
.register .submitted-message{padding-top: 16px;font-weight: 500;font-size: 36px;line-height: 56px;text-align: center;}

/* faq */
.faq{background: url(images/bg_faq.jpg) no-repeat center / cover;padding-bottom: 112px;}
.faq .inner{display: flex;align-items:flex-start;justify-content: space-between;max-width: 1270px;}
.faq .tit{position: relative;width: 434px;padding-top: 112px;}
.faq .tit::before{position: absolute;top: -104px;left: -36px;content: '';width: 434px;height: 436px;background: linear-gradient(180deg, rgba(114, 114, 114, 0) 0%, #ACACAC 100%);opacity: 0.1;border-radius: 256px 256px 256px 0;}
.faq .tit h3{font-weight: 700;font-size: 72px;line-height: 75px;letter-spacing: -0.02em;color: #fff;}
.faq .tit p{margin-top: 16px;font-weight: 400;font-size: 18px;line-height: 26px;color: #A5B7B6;}
.faq ul{max-width: 784px;margin-top: 112px;border-top: 1px solid rgba(190, 185, 176, 0.3);border-bottom: 1px solid rgba(190, 185, 176, 0.3);}
.faq li{padding: 24px 0;letter-spacing: -0.02em;}
.faq li+li{border-top: 1px solid rgba(190, 185, 176, 0.3);}
.faq li>strong{font-weight: 700;font-size: 24px;line-height: 32px;color: #10F1A0;}
.faq li>p{margin-top: 12px;font-weight: 400;font-size: 18px;line-height: 28px;color: #BEB9B0;}

/* notice */
.notice{background: #232425;padding: 56px 0;text-align: center;}
.notice strong{display:block;margin-bottom: 8px;font-weight: 600;font-size: 20px;line-height: 26px;color: #C5D6D5;}
.notice li{font-weight: 400;font-size: 18px;line-height: 28px;color: #A9B3B2;}
.notice li>a{text-decoration-line: underline;text-underline-position: under;color: #CBD6D5;}