/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Pretendard', sans-serif;line-height: 1;}
a{display: inline-block;vertical-align: top;text-decoration: none;}
ul{list-style: none;}
img{width:100%;}
body{min-width: 1200px;background-color: #121619;color: #fff;cursor: none;}

/* common */
#mouse-cursor {position: fixed;top:0;left: 0;z-index: 10000;will-change: transform;transform: translate3d(-100%, -100%, 0);pointer-events: none;mix-blend-mode: difference;}
#mouse-cursor > div {position: relative;width: 16px;height: 16px;border-radius: 50%;border: 1px solid #D9D9D9;display: flex;align-items: center;justify-content: center;--cursor-scale: 1;transform: scale3d(var(--cursor-scale), var(--cursor-scale), 1);will-change: transform;transition: transform 150ms ease-in-out,background-color 150ms ease-in-out,width 150ms ease-in-out,height 150ms ease-in-out;font-weight: 300;font-size: 10px;color: #BFC6CC;}
#mouse-cursor > div::after {content: attr(data-name);position: absolute;color: #BFC6CC;white-space: nowrap;}
#mouse-cursor.mode_scroll{mix-blend-mode: unset;}
#mouse-cursor.mode_scroll > div{width: 48px;height: 48px;border: 1px solid transparent;background-image: linear-gradient(#1A1A1A, #1A1A1A), linear-gradient(90deg, rgba(255,162,254,1) 0%, rgba(255,254,172,1) 100%);background-origin: border-box;background-clip: content-box, border-box;box-shadow: 0px 0px 8px rgba(255, 162, 254, 0.3);}


