/* sidebar */
#sidebar{position: fixed;top: 0;left: 0;z-index: 900;width: 65px;height: 100%;padding: 32px 0}
@keyframes sidebarLine { 100%{height: 100%;} }
#sidebar::after{position: absolute;top: 0;right: 0;content: '';width: 1px;height: 0;background-color: #565C63;animation: sidebarLine .5s forwards;}
#sidebar h1{writing-mode: vertical-lr;transform: rotate(180deg);font-family: 'Gotham';font-weight: 700;line-height: 65px;letter-spacing: -0.02em;}

/* intro */
#intro{position: relative;z-index: 900;}
#intro>div{position: absolute;top: 0;left: 0;width: 100%;height: 100vh;padding: 80px 121px;}
#intro .resume{display: flex;flex-direction: column;justify-content: space-between;background: url(../images/bg_intro.jpg) no-repeat center / cover;transition: opacity .25s;}
#intro .resume .info h3{font-weight: 600;font-size: 32px;line-height: 38px;color: #E9EBEF;}
#intro .resume .info_list{margin-top: 48px;font-weight: 300;font-size: 20px;line-height: 24px;color: #BFC6CC;}
#intro .resume .info_list li+li{margin-top: 32px;}
#intro .resume .info_list strong{display: block;margin-bottom: 6px;font-weight: 600;font-size: 24px;line-height: 29px;color: #E9EBEF;}
#intro .resume h2{font-family: 'Gotham';font-weight: 700;font-size: 140px;line-height: 155px;letter-spacing: -0.02em;}
#intro .resume h2>span{display: block;padding-left: 20px;font-weight: 300;font-size: 32px;line-height: 38px;color: #FE88FE;}
#intro .resume h2>div{font-family: 'Gotham';}
@keyframes letter { 100%{transform:translateY(0);opacity:1;} }
#intro .resume .letter{display:inline-block;vertical-align:top;transform:translateY(100%);opacity:0;}
#intro .keyword{z-index: 100;display: flex;flex-direction: column;justify-content: space-between;background-color: #121619;}
#intro .keyword .word{display: flex;column-gap:216px;font-family: 'Gotham';font-weight: 700;font-size: 56px;line-height: 62px;color: #848C94;}
#intro .keyword .author{font-family: 'Pretendard';font-weight: 300;font-size: 32px;line-height: 38px;color: #343A3F;}

/* wrap */
#wrap{position: relative;height: 100vh;}
main{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/* nav */
nav{position: absolute;top: 36px;left: 50%;transform: translateX(-50%);font-weight: 600;font-size: 20px;line-height: 48px;color: #E9EBEF;}
nav ul{display: flex;column-gap: 40px;}
nav a{color: #565C63;}

/* mark */
.mark{position: absolute;top: 50%;left: 121px;display: flex;flex-direction: column;transform: translateY(-50%);font-family: 'Gotham';font-weight: 700;font-size: 140px;line-height: 155px;letter-spacing: -0.02em;color: #434950;}
.mark span+span{font-family: 'Pretendard';font-style: normal;font-weight: 300;font-size: 32px;line-height: 38px;color: #343A3F;}

/* project */
.project{position: absolute;top: 50%;left: calc(50% - 166px);display: block;width: 100%;transform: translate(-50%, -50%);padding-left: 50%;}
.project .list{display: flex;flex-wrap: nowrap;column-gap: 32px;}
.project img{position: relative;top: 0;left: 0;width: 332px;height: 468px;object-fit: cover;object-position: center;transition: all .5s;}
.project img.clone{position: absolute;top: 234px;left: 166px;z-index:900;width: 332px;height: 468px;transform: translate(-50%, -50%);}
.project li{position: relative;}
.project .txt{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 120px 32px 32px 32px;display:flex;flex-direction: column;background: rgba(18, 22, 25, 0.5);text-align: center;opacity: 0;transition: opacity .5s;will-change: transform;}
.project .tit{font-weight: 600;font-size: 28px;line-height: 34px;color: #E9EBEF;}
.project .desc{margin-top: 12px;font-weight: 300;font-size: 20px;line-height: 24px;color: #BFC6CC;}
.project .theme{margin-top: 222px;font-weight: 500;font-size: 20px;line-height: 24px;color: #848C94;}
.project a:hover .txt{opacity: 1;}


/* paging */
.paging{position: absolute;bottom: 48px;left: 50%;display: flex;column-gap: 48px;transform: translateX(-50%);font-weight: 600;font-size: 16px;line-height: 19px;color: #E9EBEF;}
.paging .total{position:relative;}
.paging .total::after{position:absolute;top: 50%;left: -40px;content: '';width: 32px;height: 1px;background: #697077;transform: translateY(-50%);}